# Ignore all env files
server/.envgit add .gitignore

.env.local
.env.*.local

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-related
.DS_Store

# Build
dist/
build/
